[core]
  pager = delta
  ignorecase = false
	editor = vim
[user]
  email = shub1493biswas@gmail.com
  name = Phoenix
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
# [delta "decorations"]
#   commit-decoration-style = bold yellow box ul
#   file-style = bold yellow ul
#   file-decoration-style = none

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
