.config/fish/fish_variables
.config/fish/functions/fzf_key_bindings.fish
.vim/.netrwhist
.vim/bundle
.vim/plugged/**
*.swp
.vim/.undodir/
.vim/Session.vim
.undodir/
Session.vim

# Since conf.d configs auto load, I am keeping work related private envs inside it
# so that I don't commit them by mistake
.config/fish/conf.d/work.fish

# Install nvm using `fisher install jorgebucaran/nvm.fish`
.config/fish/functions/_nvm*
.config/fish/functions/nvm.fish
.config/fish/completions/nvm.fish
.config/fish/conf.d/nvm.fish
.config/fish/fish_plugins
