* {
    xbg:    #212121;
    xfg:    #D0D0D0;
    x0:     #151515;
    x1:     #AC4142;
    x2:     #7E8E50;
    x3:     #E5B567;
    x4:     #6C99BB;
    x5:     #9F4E85;
    x6:     #7DD6CF;
    x7:     #D0D0D0;
    x8:     #505050;
    x9:     #AC4142;
    x10:    #7E8E50;
    x11:    #E5B567;
    x12:    #6C99BB;
    x13:    #9F4E85;
    x14:    #7DD6CF;
    x15:    #F5F5F5;
}

